<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>E-commerce Database Management System</title>
</head>
<body>
    
     <h1>Welcome to the E-commerce Database Management System</h1>
     <div class="index">
     <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/order_items">Order Items</a></li>
     </ul>
    </div>
</body>
</html>
